body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    word-wrap: break-word;
    position: relative;
}

.result p {
    margin: 0;
    padding-bottom: 10px;
    white-space: pre-wrap;
}

button#copyButton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#copyButton:hover {
    background-color: #218838;
}

/* Disabled button styling */
button#copyButton:disabled {
    background-color: #94d3a2;
    cursor: not-allowed;
}

/* Error Box Styling */
.error-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    width: 300px;
    display: none;
    text-align: center;
}